<?php

/* moreuserinfo plugin */
// navigation config (requires plugin settings @website http://myroundcube.googlecode.com)
$GLOBALS['settingsnav']['moreuserinfo'] = array('part' => '', 'label' => 'userinfo', 'href' => './?_task=settings&_action=plugin.moreuserinfo&_framed=1', 'onclick' => '', 'descr' => 'moreuserinfo');

// HoTo links
/* CalDAV */
$rcmail_config['caldav_thunderbird'] = 'http://myroundcube.com/thunderbird-calddav';
$rcmail_config['caldav_android'] = 'http://myroundcube.com/myroundcube-plugins/android-caldav';
$rcmail_config['caldav_android_app'] = 'https://play.google.com/store/apps/details?id=org.dmfs.caldav.lib&hl=en';
$rcmail_config['caldav_iphone'] = 'http://myroundcube.com/myroundcube-plugins/iphone-caldav';
/* CardDAV */
$rcmail_config['carddav_thunderbird'] = 'http://myroundcube.com/myroundcube-plugins/thunderbird-carddav';
$rcmail_config['carddav_android'] = 'http://myroundcube.com/myroundcube-plugins/android-carddav';
$rcmail_config['carddav_android_app'] = 'https://play.google.com/store/apps/details?id=org.dmfs.carddav.sync&hl=en';
$rcmail_config['carddav_android_app_editor'] = 'https://play.google.com/store/apps/details?id=org.dmfs.android.contacts&hl=en'; // false, if your recommendation does not need a separate editor
$rcmail_config['carddav_iphone'] = 'http://myroundcube.com/myroundcube-plugins/iphone-carddav';

$rcmail_config['moreuserinfo'] = array(
  'IMAP' => array( // Service
    'mydomain.tld' => array( //Domain (use 'default' if your user don't have a domain part)
      'encryption' => 'SSL',
      'server' => 'imap.mydomain.tld',
      'port' => '993',
      'auth' => 'yes'
    ),
    'mydomain2.tld' => array(
      'encryption' => 'SSL',
      'server' => 'imap.mydomain2.tld',
      'port' => '993',
      'auth' => 'yes'
    ),
  ),
  'POP' => array(
    'mydomain.tld' => array(
      'encryption' => 'no',
      'server' => 'pop.mydomain.tld',
      'port' => '110',
      'auth' => 'yes'
    ),
    'mydomain2.tld' => array(
      'encryption' => 'SSL',
      'server' => 'pop.mydomain2.tld',
      'port' => '25',
      'auth' => 'yes'
    ),
  ),
  'SMTP' => array(
    'mydomain.tld' => array(
      'encryption' => 'no',
      'server' => 'smtp.mydomain.tld',
      'port' => '25',
      'auth' => 'yes'
    ), // NOTE: In this config example mydomain2.tld does not offer SMTP service
  ),
);
?>