<?php

/* Show archive button in mailbox list */
$config['archive_show_button'] = true;

/* Default Archive folder */
/* In order to prevent users to overwrite this folder
   add 'archive_mbox' to 'dont_override' configuration */
$config['archive_mbox'] = 'Archive';

/* NOTE:
   If you want to create the Archive folder by default, then configure
   ./config/main.inc.php as follows:
   
  // display these folders separately in the mailbox list.
  // these folders will also be displayed with localized names
  $config['default_folders'] = array('INBOX', 'Notes', 'Archive', 'Drafts', 'Sent', 'Junk', 'Trash');

  // automatically create the above listed default folders on login
  $config['create_default_folders'] = true;
*/

?>