<?php
/* Jappix Domain */
$rcmail_config['jabber_domain'] = 'jappix.com';

/* Jappix URL */
$rcmail_config['jappix_url'] = 'https://jappix.com';

/* Use Mini Jappix */
$rcmail_config['jappix_mini'] = true;
?>