<?php
/* Jappix Domain */
$config['jabber_domain'] = 'jappix.com';

/* Jappix URL */
$config['jappix_url'] = 'https://jappix.com';

/* Use Mini Jappix */
$config['jappix_mini'] = true;

/* Database cache
   Cache js and css files in database. This is only
   recommended if you use a public Jappix service to avoid
   delays on page loading if the Jappix service is busy
   or down. */
$config['jappix_cache'] = false;
?>