<?php
/* Jappix Domain */
$config['jabber_domain'] = 'jappix.com'; // %d => use domain part of username

/* Inherit login credentials
   NOTE: Use local part of username + '@' + 'jabber_domain' (%d) as jappix user
         and Roundcube password as jappix password */
$config['jappix_inherit'] = false;

/* Lock settings page
   NOTE: It might make sense if you host your own XMPP server and login
         credentials are in sync with IMAP login data of users */
$config['jappix_lock_settings'] = false;

/* Jappix URL */
$config['jappix_url'] = 'https://jappix.com';

/* Register account (null = don't show register hint) */
$config['jappix_register_url'] = 'https://jappix.com';

/* Use Mini Jappix */
$config['jappix_mini'] = true;

/* Logon user automatically */
$config['jappix_mini_autologon'] = true;

/* Database cache
   Cache js and css files in database. This is only
   recommended if you use a public Jappix service to avoid
   delays on page loading if the Jappix service is busy
   or down. */
$config['jappix_cache'] = false;
?>