<?php
// ----------------------------------
// PERSISTENT LOGIN / REMEMBER ME
// ----------------------------------

// Time until the peristent login cookie invalidates (in milliseconds; 60*60*24*3 = 3 days)
$config['ifpl_login_expire'] = 60*60*24*3;

// The name of the persistent login cookie.
$config['ifpl_cookie_name'] = '_pt';

// Turn on feature to use tokens.
$config['ifpl_use_auth_tokens'] = false;

?>