<?php

// TinyMCE full featured editor
  /* TinyMCE v4 plugins */
$config['tinymce4_full_plugins'] = 'autolink charmap code colorpicker directionality emoticons link image media nonbreaking paste table tabfocus textcolor searchreplace';

  /* TinyMCE v4 toolbar */
$config['tinymce4_full_toolbar'] = 'bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent ltr rtl blockquote | forecolor backcolor | fontselect fontsizeselect | link unlink table | emoticons charmap image media | code searchreplace undo redo';

  /* TinyMCE v4 other config options (http://www.tinymce.com/wiki.php/Configuration) */
$config['tinymce4_full_etc'] = array(
  'forced_root_block' => '',
  'force_p_newlines' => false,
  'force_br_newlines' => true,
);

// TinyMCE minmal featured editor
  /* TinyMCE v4 plugins */
$config['tinymce4_minimal_plugins'] = 'autolink charmap code colorpicker hr image link paste tabfocus textcolor';

  /* TinyMCE v4 toolbar */
$config['tinymce4_minimal_toolbar'] = 'bold italic underline alignleft aligncenter alignright alignjustify | outdent indent charmap hr link unlink image code forecolor | fontselect fontsizeselect';

  /* TinyMCE v4 other config options (http://www.tinymce.com/wiki.php/Configuration) */
$config['tinymce4_minimal_etc'] = array(
  'forced_root_block' => '',
  'force_p_newlines' => false,
  'force_br_newlines' => true,
);