<?php

/* captcha plugin */

/* Captcha challenge to enter authenticated state */
$config['captcha_auth'] = false;

/* Define below pages where a check should be performed in not authenticated state */
$config['captcha_page'] = array("contactus.contactus", "pwtools.recpw", "register.register");

/* Textual Captcha */
$config['captcha_onclick'] = 'riddle'; // 'entity_encoded' or 'riddle'

?>